.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  margin-bottom: 20px;
  padding: 20px;
  width: 70%;
}

.buttons{
  display: flex;
  justify-content: space-evenly;
}

.buttons > input {
  width: 40%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"] {
  background-color: #4caf50;
}

input[type="button"] {
  background-color: #939693;
}

#datosRegistrados {
  border-collapse: collapse;
  width: 100%;
}

#datosRegistrados td,
#datosRegistrados th {
  border: 1px solid #ddd;
  padding: 8px;
}

#datosRegistrados tr:nth-child(even) {
  background-color: #e9e5e5;
}

#datosRegistrados tr:hover {
  background-color: rgb(231, 229, 229);
}

#datosRegistrados th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}
